* {
  margin: 0;
  padding: 0;
}
.homebody {
  width: 100%;
  height: 60rem;
  flex-shrink: 0;
  border: 1px solid #fff;
  background: #fff9e5;
  box-shadow: -63.733px 63.733px 63.733px 0px rgba(255, 255, 255, 0.1) inset,
    63.733px -63.733px 63.733px 0px rgba(179, 179, 179, 0.1) inset;
  backdrop-filter: blur(63.733333587646484px);
}
.nav-bar {
  display: flex;
  width: 90%;
  margin: 5%;
  height: 2.6rem;
  flex-shrink: 0;
  justify-content: space-between;
}
.nav-button {
  display: flex;
  width: 18.54rem;
  height: 24px;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-shrink: 0;
}
.nav-button li {
  list-style: none;
}
.nav-button a {
  text-decoration: none;
  color: #344335;
  text-align: center;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
.hero-section {
  display: flex;
  margin: 10% 5% 0% 5%;
  justify-content: space-evenly;
  width: 90%;
  padding: 10px;
}
.hero{
  padding-top: 4%;
  width: 48%;
}
.hero h4 {
  width: 90%;
  color: #344335;
  font-family: Helvetica;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;

}
.hero h4 span {
  color: #2b8c34;
}
.hero p {
  width: 30rem;
  height: 68px;
  padding-top: 1.25rem;
  flex-shrink: 0;
  color: #344335;
  font-family: Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.banner {
  width: 48%;
  height: 546px;
  flex-shrink: 0;
  border-radius: 20px;
  
}
.banner img{
  width: 100%;
  height: 30rem;
}

.aboutbody {
  width: 100%;
  justify-content: center;
  height: 70rem;
  flex-shrink: 0;
  background: #e2ffdf;
}
.about-hero {
  width: 100%;
  justify-self: center;
  display: flex;
  text-align: center;
   padding: 20px 161px 162px 162px; 
   /* background-color: #2b8c34; */
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: 8px;
}
.about-hero h4 {
  width: 70%;
  margin-top: 5%;
  color: #344335;
  text-align: center;
  font-family: Helvetica;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.about-hero h4 span {
  color: #2b8c34;
}
.about-hero p {
  color: #344335;
  text-align: center;
  font-family: Helvetica;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}
.about-hero img{
  margin: 2% 0 2% 0;
  width: 13.5rem;
  height: 13rem;
}
.about-footer{
  width: 100%;
  height: 8rem;
  background-color: #2b8c34;
  margin-bottom: 2.25rem;
}
.about-footer1 {
  width: 80%;
  height: ;
  display:  inline-flex;
  padding-left: 28px; 
  justify-content: flex-end;
  align-items: center;
   gap: 120px;
}
.wenovation{
  width: 10rem;
  height: 48px;
  background: url(./Asset/wenovation.svg), lightgray 50% / cover no-repeat;
}
.cari{
  width: 118px;
  height: 56px;
  background: url(./Asset/cari.svg), lightgray 50% / cover no-repeat;
}
.labana{
  width: 58px;
height: 56px;
background: url(./Asset/labana.svg), lightgray -4.274px 0px / 112.281% 119.403% no-repeat;
}
.giz{
  width: 10rem;
height: 56px;
background: url(./Asset/giz.svg), lightgray -0.14px -10.825px / 101.373% 180.412% no-repeat;
}
.image{
  width: 84px;
  height: 56px;
  background: url(./Asset/image.png), lightgray 50% / cover no-repeat;
}
.about-footer2 {
  display: inline-flex;
  width: 100%;
  height: 4rem;
  background-color: red;
  padding: 15px 36.98px 0px 83px;
  justify-content: flex-end;
  align-items: center;
  gap: 72px;
}
.lead{
  width: 59px;
height: 59px;
  background: url(./Asset/lead.png), lightgray 50% / cover no-repeat;
}
.google{
  width: 164px;
height: 92.25px;
  background: url(./Asset/google.png), lightgray 50% / cover no-repeat;
}
.katspull{
  width: 132px;
height: 132px;
  background: url(./Asset/katspull.png), lightgray 50% / cover no-repeat;
}
.bain{
  width: 232.556px;
  height: 133px;
  background: url(./Asset/bain.png), lightgray 50% / cover no-repeat;
}
.catalyst{
  width: 162.02px;
  height: 115px;
  background: url(./Asset/catalyst.png), lightgray 50% / cover no-repeat;
}
.business-page{
  width: 100%;

}
.bus-page {
  background: #FFF;;
  width: 100%;
  height: 70rem;
  
  
}
.btn {
  color: #313531;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Helvetica;
  width: 50%;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.btn-input {
  width: 500px;
  height: 850px;
  margin-bottom: 20px;
}
.bus-page h3 {
  color: #344335;
  font-family: Helvetica;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.bus-page span {
  color: #d8a600;
  font-family: Helvetica;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.bus-page p {
  color: #344335;
  font-family: Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: 492px;
}
.bus-input p {
  color: #3f4e3f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.947px;
}
.bus-input input {
  width: 588px;
  height: 60px;
  border-radius: 10px;
  background: #d6d3ca;
}
.bus-input2 p {
  color: #313531;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.947px;
}
.bus-input2 input {
  width: 588px;
  height: 240px;
  border-radius: 10px;
  background: #d6d3ca;
}
.btn-input button {
  display: flex;
  width: 588px;
  height: 70px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--Warning-40, #d8a600);
}
.bus-footer {
  width: 100%;
  height: 445px;
  flex-shrink: 0;
  background: #2b8c34;
}
.card-container {
  width: 80%;
  display: flex;
  gap: 20px;
}
.blog-card {
  width: 369px;
  height: 464px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #fff9e5;
}
.blog-card h3 {
  width: 364px;
  height: 55px;
  flex-shrink: 0;
  color: #2b8c34;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
}
.blog-card p {
  color: #8c9b8e;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
}
.blog-card1 {
  width: 370px;
  height: 331px;
  flex-shrink: 0;
  border-radius: 20px 20px 0px 0px;
  background: url(./Asset/card1.png), lightgray 50% / cover no-repeat;
}
.blog-card2 {
  width: 370px;
  height: 331px;
  flex-shrink: 0;
  background: url(./Asset/card2.png), lightgray 50% / cover no-repeat;
}
.blog-card3 {
  width: 370px;
  height: 331px;
  flex-shrink: 0;
  background: url(./Asset/card3.png), lightgray 50% / cover no-repeat;
}
.agent {
  width: 100%;
  height: 8422px;
  padding-top: 4rem ;
  background: #fff;
  justify-self: center;
}
.agent-hero h3 {
  color: #344335;
  font-family: Helvetica;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.agent-hero {
  /* display: flex; */
  width: 80%;
  background-color: #2b8c34;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8px;
}
.agent-frame {
  width: 100%;
  background-color: red;
  height: 900px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #fff9e5;
}
.agent-frame1 {
  width: 505px;
  height: 283px;
  flex-shrink: 0;
}
.agent-frame1 h3 {
  color: #f8b800;
  font-family: Helvetica;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.agent-frame1 p {
  width: 502px;
  height: 102px;
  flex-shrink: 0;
  color: #344335;
  font-family: Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
}
.agent span {
  color: #f8b800;
  font-family: Helvetica;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.agent p {
  width: 925px;
  color: #344335;
  text-align: center;
  font-family: Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 39px; /* 162.5% */
}
.manage {
  display: flex;
  width: 931px;
  padding: 0px 3px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.manage h2 {
  color: #554203;
  font-family: Helvetica;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.manage span {
  color: #2b8c34;
  font-family: Helvetica;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
